
<p>Welcome to the 2023 WECIA Emotion Prediction Competition!</p>

<p>The training set consists of <a href="https://www.artelingo.org/">ArtElingo Dataset</a>. Teams will use this dataset to build computational 
    models to predict emotions for test set images. Whether you are working alone or as a team, we welcome researchers, 
    and anyone interested in computational models for emotional analysis to participate and submit their results.</p>


<h3>Important Dates</h3>
<ul>
    <li>The Challenge launches: July 12, 2023</li>
    <li>Dev Phase begins: July 12, 2023, 12:00 AM (AST)</li>
    <li>Challenge Phase begins (hidden test set released): September 10, 2023, 12:00 AM (AST)</li>
    <li>Challenge Phase ends: September 22, 2023, 23:59 PM (CST)</li>
    <li>Challenge result notification: October 2, 2023</li>
    <li>Workshop date: TBA</li>
</ul>
<p><b>Note: All times are in Arabian Time Zone (AST) time, which is 3 hours ahead of Coordinated Universal Time (UTC).</b></p>


<h3>Prizes and Judging Criteria</h3>

<ul>
    <li>Emotion Prediction Winner: The Winner will be determined by the highest f1 score across the entire hidden test set.</li>
    <!-- <li>Caption Generation Winner: The Winner will be determined by the highest XXX score across the entire test set.</li> -->
    <li>The winning team will be invited for a short oral presentation in the workshop.</li>    
    <li>The winning team will receive a cash prize of 300 USD, and the second position will receive 200 USD. </li>
    <li> Members of the organizing team can not be the winners.</li>
</ul>

<h3>Competition Site Participation</h3>

<p>This year, the challenge will be hosted at the WECIA: 1st Workshop On Emotionally And Culturally Intelligent AI at ICCV,2023 (October 2-3, Paris, France).</p>
<p>To participate in this competition, please follow these steps in sequence:</p>

<ul>
<li><b>Sign up. </b>Each person (team lead and team members) signs up for an EvalAI account</li>
<li><b>Create team and name.</b> Team lead starts a team and names it by going to Participate - Create a New Team - Participate</li>
<li><b>Invite teammates (optional).</b> Team lead invites team members by navigating to the sidebar Participant Teams - clicks on the add person button - add members by emails
    <ul>
        <li>Adding team members is optional in the sense that you may work alone. This is the process you must follow to add team members</li>
        <li>Invited team members must already be registered and for team leads to invite they must enter the same email address team members signed up for EvalAI with. After doing so team members will display immediately if successful</li>
        <li>Each person can only be on one team and each team can only have one team lead.</li>
    </ul>
</ul>


<h3>Submission Format</h3>
<p>To submit to a phase, teams must upload a JSON file containing their model's answer prediction in the following format:</p>

<pre>
    <code>
      [
        {
          "image_id": int,
          "emotion": "PREDICTED EMOTION"
        },
        {
          "image_id": int,
          "emotion": "PREDICTED EMOTION"
        }
        ...
      ]
    </code>
  </pre>
  
<p><b>image_id: </b>an image's unique id</p>
<p><b>emotion: </b>the predicted emotion for the image. </p>
<!-- <p>Here is an example submission file.</p>      -->
<b>The submission file must include every image_id corresponding to the test set, and the format must also be correct. We will reject those unqualified files.</b>
<b>You can use the <a href="https://colab.research.google.com/drive/175ptDrw1tI1TAiJethevndHK2NNVFnmB?authuser=2"> given </a> notebook to help you with your submission. This is for text to emotion.</b>
<b>We also provide a notebook for Image to emotion <a href="https://colab.research.google.com/drive/1CdwwYdPyLkgky16_KgvGNY7PNiEMMdiQ?authuser=2"> here. </a></b>

<h3>Data</h3>

<p>The predictions are text responses to visual and textual data, the responses correspond to different emotions.</p>
<p> All the dataset related details can be found on the <a href="https://www.artelingo.org/">ArtElingo</a> website.</p>
<p>The dev phase test set can be found <a href="https://wecia-iccv23-challenge.s3.amazonaws.com/emo_pred_challenge_dev.csv"> here</a></p>
<p>The test phase test set can be found <a href="https://wecia-iccv23-challenge.s3.amazonaws.com/emo_pred_challenge_hidden.csv"> here</a></p>

<b>Participants should not use any external data for training purposes other than the data provided by us.
    Teams found doing so will be disqualified from the challenge. However, you are free to utilize large pre-trained systems. </b>
